In [7]:
!pip install pyexasol

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pyexasol in c:\users\nayan\appdata\roaming\python\python313\site-packages (0.27.0)
Requirement already satisfied: packaging in c:\users\nayan\appdata\roaming\python\python313\site-packages (from pyexasol) (24.2)
Requirement already satisfied: pyopenssl in c:\users\nayan\appdata\roaming\python\python313\site-packages (from pyexasol) (25.1.0)
Requirement already satisfied: rsa in c:\users\nayan\appdata\roaming\python\python313\site-packages (from pyexasol) (4.9.1)
Requirement already satisfied: websocket-client>=1.0.1 in c:\users\nayan\appdata\roaming\python\python313\site-packages (from pyexasol) (1.8.0)
Requirement already satisfied: cryptography<46,>=41.0.5 in c:\users\nayan\appdata\roaming\python\python313\site-packages (from pyopenssl->pyexasol) (45.0.3)
Requirement already satisfied: pyasn1>=0.1.3 in c:\users\nayan\appdata\roaming\python\python313\site-packages (from rsa->pyexasol) (0.6.1)
Requirement already satisfied: cffi>=1.14 in c:\users\nayan\appdata\roaming\python\python313\site-packages (from cryptography<46,>=41.0.5->pyopenssl->pyexasol) (1.17.1)
Requirement already satisfied: pycparser in c:\users\nayan\appdata\roaming\python\python313\site-packages (from cffi>=1.14->cryptography<46,>=41.0.5->pyopenssl->pyexasol) (2.22)

[notice] A new release of pip is available: 24.3.1 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [8]:
pip install pyexasol pandas matplotlib seaborn

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pyexasol in c:\users\nayan\appdata\roaming\python\python313\site-packages (0.27.0)
Requirement already satisfied: pandas in c:\users\nayan\appdata\roaming\python\python313\site-packages (2.2.3)
Requirement already satisfied: matplotlib in c:\users\nayan\appdata\roaming\python\python313\site-packages (3.10.3)
Requirement already satisfied: seaborn in c:\users\nayan\appdata\roaming\python\python313\site-packages (0.13.2)
Requirement already satisfied: packaging in c:\users\nayan\appdata\roaming\python\python313\site-packages (from pyexasol) (24.2)
Requirement already satisfied: pyopenssl in c:\users\nayan\appdata\roaming\python\python313\site-packages (from pyexasol) (25.1.0)
Requirement already satisfied: rsa in c:\users\nayan\appdata\roaming\python\python313\site-packages (from pyexasol) (4.9.1)
Requirement already satisfied: websocket-client>=1.0.1 in c:\users\nayan\appdata\roaming\python\python313\site-packages (from pyexasol) (1.8.0)
Requirement already satisfied: numpy>=1.26.0 in c:\users\nayan\appdata\roaming\python\python313\site-packages (from pandas) (2.2.6)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\nayan\appdata\roaming\python\python313\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\nayan\appdata\roaming\python\python313\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\nayan\appdata\roaming\python\python313\site-packages (from pandas) (2025.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\nayan\appdata\roaming\python\python313\site-packages (from matplotlib) (1.3.2)
Requirement already satisfied: cycler>=0.10 in c:\users\nayan\appdata\roaming\python\python313\site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\nayan\appdata\roaming\python\python313\site-packages (from matplotlib) (4.58.1)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\nayan\appdata\roaming\python\python313\site-packages (from matplotlib) (1.4.8)
Requirement already satisfied: pillow>=8 in c:\users\nayan\appdata\roaming\python\python313\site-packages (from matplotlib) (11.2.1)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\nayan\appdata\roaming\python\python313\site-packages (from matplotlib) (3.2.3)
Requirement already satisfied: six>=1.5 in c:\users\nayan\appdata\roaming\python\python313\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Requirement already satisfied: cryptography<46,>=41.0.5 in c:\users\nayan\appdata\roaming\python\python313\site-packages (from pyopenssl->pyexasol) (45.0.3)
Requirement already satisfied: pyasn1>=0.1.3 in c:\users\nayan\appdata\roaming\python\python313\site-packages (from rsa->pyexasol) (0.6.1)
Requirement already satisfied: cffi>=1.14 in c:\users\nayan\appdata\roaming\python\python313\site-packages (from cryptography<46,>=41.0.5->pyopenssl->pyexasol) (1.17.1)
Requirement already satisfied: pycparser in c:\users\nayan\appdata\roaming\python\python313\site-packages (from cffi>=1.14->cryptography<46,>=41.0.5->pyopenssl->pyexasol) (2.22)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.3.1 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [9]:
import pyexasol
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [10]:
import pyexasol
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Connect to your running Exasol Docker instance
C = pyexasol.connect(
    dsn='127.0.0.1:8563',  # Docker maps this port to your host
    user='sys',
    password='exasol',
    schema='SYS'  # Use 'SYS' or any existing schema
)

In [11]:
import pyexasol
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

C = pyexasol.connect(
    dsn='127.0.0.1:8563',
    user='sys',
    password='exasol',
    schema='SYS'
)

In [12]:
import pyexasol
import pandas as pd

In [13]:
# Connect to the running Exasol DB container
C = pyexasol.connect(
    dsn='127.0.0.1:8563',
    user='sys',
    password='exasol',
    schema='SYS'
)

In [14]:
# Load your CSV file into a DataFrame
df = pd.read_csv("Walmart Sales Data.csv.csv")  # replace with your actual file name
df.head()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,2019-01-05,13:08:00,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,2019-03-08,10:29:00,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,2019-03-03,13:23:00,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,2019-01-27,20:33:00,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2019-02-08,10:37:00,Ewallet,604.17,4.761905,30.2085,5.3

In [15]:
df.tail(
)

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
995,233-67-5758,C,Naypyitaw,Normal,Male,Health and beauty,40.35,1,2.0175,42.3675,2019-01-29,13:46:00,Ewallet,40.35,4.761905,2.0175,6.2
996,303-96-2227,B,Mandalay,Normal,Female,Home and lifestyle,97.38,10,48.6900,1022.4900,2019-03-02,17:16:00,Ewallet,973.80,4.761905,48.6900,4.4
997,727-02-1313,A,Yangon,Member,Male,Food and beverages,31.84,1,1.5920,33.4320,2019-02-09,13:22:00,Cash,31.84,4.761905,1.5920,7.7
998,347-56-2442,A,Yangon,Normal,Male,Home and lifestyle,65.82,1,3.2910,69.1110,2019-02-22,15:33:00,Cash,65.82,4.761905,3.2910,4.1
999,849-09-3807,A,Yangon,Member,Female,Fashion accessories,88.34,7,30.9190,649.2990,2019-02-18,13:28:00,Cash,618.38,4.761905,30.9190,6.6

In [16]:
# 🧩 Step 5: Optional – Check & Clean the DataFrame

In [17]:
df.info()
df.columns = [c.upper().replace(" ", "_") for c in df.columns]  # clean column names
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Invoice ID               1000 non-null   object
 1   Branch                   1000 non-null   object
 2   City                     1000 non-null   object
 3   Customer type            1000 non-null   object
 4   Gender                   1000 non-null   object
 5   Product line             1000 non-null   object
 6   Unit price               1000 non-null   float64
 7   Quantity                 1000 non-null   int64
 8   Tax 5%                   1000 non-null   float64
 9   Total                    1000 non-null   float64
 10  Date                     1000 non-null   object
 11  Time                     1000 non-null   object
 12  Payment                  1000 non-null   object
 13  cogs                     1000 non-null   float64
 14  gross margin percentage  1000 non-null   float64
 15  gross income             1000 non-null   float64
 16  Rating                   1000 non-null   float64
dtypes: float64(7), int64(1), object(9)
memory usage: 132.9+ KB

,INVOICE_ID,BRANCH,CITY,CUSTOMER_TYPE,GENDER,PRODUCT_LINE,UNIT_PRICE,QUANTITY,TAX_5%,TOTAL,DATE,TIME,PAYMENT,COGS,GROSS_MARGIN_PERCENTAGE,GROSS_INCOME,RATING
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,2019-01-05,13:08:00,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,2019-03-08,10:29:00,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,2019-03-03,13:23:00,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,2019-01-27,20:33:00,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2019-02-08,10:37:00,Ewallet,604.17,4.761905,30.2085,5.3

In [18]:
# 🧩 Step 6: Upload the DataFrame into Exasol Table

In [19]:
# Step 1: Drop the table if it exists (to replace it)
C.execute("DROP TABLE IF EXISTS SALES_DATA")

In [14]:
import pyexasol
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [23]:
import pyexasol

# Connect to Exasol running locally in Docker
conn = pyexasol.connect(
    dsn='127.0.0.1:8563',
    user='sys',
    password='exasol'
)

# Test query
print(conn.execute("SELECT 'Hello from Exasol!'").fetchall())

[('Hello from Exasol!',)]

In [24]:
# Verify Data Upload by Querying the Table

In [25]:
# Perform Basic Exploratory Data Analysis (EDA)

In [29]:
tables = conn.execute("SELECT TABLE_NAME FROM EXA_ALL_TABLES WHERE TABLE_SCHEMA = CURRENT_SCHEMA").fetchall()
print(tables)

[]

In [30]:
query = """
SELECT CITY, SUM(TOTAL) AS TOTAL_SALES
FROM your_actual_table_name
GROUP BY CITY
ORDER BY TOTAL_SALES DESC
"""

In [31]:
all_tables = conn.execute("SELECT TABLE_SCHEMA, TABLE_NAME FROM EXA_ALL_TABLES").fetchall()
for row in all_tables:
    print(row)

In [35]:
query = """
SELECT EXTRACT(YEAR FROM "DATE") AS YEAR,
       EXTRACT(MONTH FROM "DATE") AS MONTH,
       SUM(TOTAL) AS MONTHLY_SALES
FROM SALES_DATA
GROUP BY YEAR, MONTH
ORDER BY YEAR, MONTH
"""

In [37]:
import pyexasol

# Only run this once (make sure your Exasol container is running)
conn = pyexasol.connect(dsn='127.0.0.1:8563', user='sys', password='exasol')

In [40]:
tables = conn.execute("SELECT TABLE_SCHEMA, TABLE_NAME FROM SYS.EXA_ALL_TABLES WHERE TABLE_NAME LIKE '%SALES%'").fetchall()
print(tables)

[]